/* customize Bootstrap header classes */
.header {
	background-color: #283442;
	margin-bottom: 14px;
	padding: 12px 0 0 0;
	color: #e0efe5;
}

.header h1 {
	font-size: 40px;
	line-height: 1;
	margin-top: 0;
	color: #fff;
}

/* set font for the document */
body {
	font-family: 'Segoe UI', sans-serif;
	padding-bottom: 75px;
}

.grid {
	margin-top: 20px;
	height: 300px;
}

.copy {
	margin: 0 0 40px;
}

/* create a 'custom-flex-grid' theme for the tree view FlexGrid */
@font-face {
	font-family: 'Fira';
	src: url(../resources/fonts/fira/FiraSans-Regular.ttf);
}

@font-face {
	font-family: 'Fira';
	src: url(../resources/fonts/fira/FiraSans-Bold.ttf);
	font-weight: bold;
}

.custom-flex-grid {
	font-family: Fira, sans-serif;
}

.custom-flex-grid .wj-header.wj-cell {
	background-color: #eaeaea;
	color: #444;
	font-weight: bold;
}

.custom-flex-grid .wj-cell {
	background-color: #fff;
}

.custom-flex-grid .wj-alt:not(.wj-state-selected):not(.wj-state-multi-selected) {
	background-color: #fff;
}

.custom-flex-grid .wj-state-selected {
	background: #0085c7;
	color: #fff;
}

.custom-flex-grid .wj-state-multi-selected {
	background: #80adbf;
	color: #fff;
}

/* fixed header */
.fixed {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.export-settings {
	width: 100%;
	background-color: #f5f5f5;
	color: #000;
	margin-top: 15px;
	padding: 10px 0;
	border-bottom: 1px solid #E3E3E3;
}

.export-settings .col-xs-12 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.export-settings p {
	text-align: right;
	padding-top: 4px;
	margin: 0;
}

.export-settings .wj-dropdown {
	width: 100%;
}

.top-pad {
	padding-top: 225px;
}

@media only screen and ( max-width : 768px ) {
	.export-settings p {
		text-align: left;
		padding-top: 0;
	}

	.top-pad {
		padding-top: 325px;
	}
}
