body {
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	background-color: #f1f1f1;
}

h1, h2, h3, h4, h5, h6 {
	font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
	font-weight: 300;
}

.container {
	margin-top: 0.5em;
}

/* override Boostrap to prevent wrapping pre-text. */
.codeViewer pre {
	word-wrap: normal;
}

/* override Boostrap to make code stand out a little more. */
pre {
    background-color: white;
}

#purpleTopBar {
	background-color: #591f62;
	padding: 8px;
	width: 100%;
}

	#purpleTopBar h1 {
		font-size: 20px;
		line-height: 1;
		margin: 0;
		padding: 0;
		color: #fff;
	}
	
	#purpleTopBar h1 a {
		color: #fff;
	}

	#purpleTopBar img {
		height:30px;
		margin: 0 4px 0 8px;
	}
.breadcrumbBar {
	width: 100%;
	background-color: #f5f5f5;
}

.breadcrumbBar .container {
	margin-top: 0;
}

.container h1 {
	font-size: 23px;
	font-weight: bold;
	color: #444444;
	margin-bottom: 15px;
}

.container h2 {
	font-size: 16px;
	font-weight: normal;
	color: #444444;
	margin-top: 0px;
}

.container p {
	font-size: 16px;
	line-height: 23px;
}

/* mainView */

.searchBar {
	white-space: nowrap;
	padding: 0.5em 0.5em 0.5em 0;
	width: 100%;
	border-bottom: 1px solid #ccc;
}

/* Mobile */
@media only screen and (max-width: 765px) {
	.searchBar input[type="search"] {
		margin-left: 25px;
	}
}

.searchBar form {
	padding-left: 0;
}

.searchBox {
	width: 100%;
	border-radius: 0;
}

.frameworkList {
	width: auto;
	float: right;
	height: 2em;
}

.checkboxItem {
	float: right;
	padding: 0.5em;
}

label.checkboxItem input[type=checkbox]{
	position: relative;
	vertical-align: middle;
	bottom: 3px;
	margin-right: 0.5em;
}

.sampleInfo h1 a {
	color: #444;
}
.moreInfo {
	margin-top: .5em;
	font-size:14px;
}

 .sampleInfo .moreInfo a {
	color:#428bca;
	clear: both;
	text-decoration: underline;
}

.sampleDetail {
	padding: 0 0 1em 2em;
}

/*
.sampleInfo button {
	background-color: #591f62;
	border: 1px solid #591f62;
	border-radius: 2px;
	color: white;
}

.sampleInfo button:active {
	color: #591f62;
	background-color: white;
	border: 1px solid white;
}

.sampleInfo button:visited {
	background-color: #591f62;
	border: 1px solid #591f62;
	border-radius: 2px;
	color: white;
}

.sampleInfo button:hover {
	color: #591f62;
	background-color: white;
	border: 1px solid #591f62;
}
*/

.purple {
	background-color: #591f62;
	border: 1px solid #591f62;
	border-radius: 2px;
	color: white;
}

.purple:active {
	color: #591f62;
	background-color: white;
	border: 1px solid white;
}

.purple:visited {
	background-color: #591f62;
	border: 1px solid #591f62;
	border-radius: 2px;
	color: white;
}

.purple:hover {
	color: #591f62;
	background-color: white;
	border: 1px solid #591f62;
}

/*
	sampleView
*/

.sampleItem {
}

.sampleCategory {
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	text-transform: uppercase;
	font-size: 8pt;
	color: #591f62;
}

.sampleScreenshot {
}

.sampleButtonsBox {
	margin: 1em 0;
}

.sampleScreenshot img {
	position: relative;
	left: 2px;
	outline: solid darkgray 1px;
	box-shadow: 3px 3px 6px darkgray;
	margin-bottom: 1em;
	max-width: 300px;
	height: auto;
	width: auto\9; /* ie8 */
}

/* Mobile */
@media only screen and (max-width: 999px) {
	.mobile {
		display: normal;
	}
	.desktop {
		display: none;
	}

	.sampleButtonsBox {
		margin: 3em auto;
		text-align: center;
	}

	.sampleButtonsBox p {
		margin-top: 8px;
		margin-bottom: 3px;
		font-size: 9pt;
		font-weight: bold;
		text-transform: uppercase;
	}
}

/* Desktop */
@media only screen and (min-width: 1000px) {
	.desktop {
		display: normal;
	}
	.mobile {
		display: none;
	}
}

/*
	codeView
*/

.codeViewer {
	max-width: 100%;
	height: auto;
	max-height: 100%;   
}

.codeViewer-tree .wj-flexgrid {
	box-shadow: none;
	border-radius: 0;
	background-color: white;
}

.codeViewer-tree .wj-cell {
	border: none;
	background-color: white;
}

.codeViewer-tree .wj-state-selected {
	background-color: #591F62;
	color: white;
}

.wj-flexgrid .wj-glyph-up {
	background-image: url('../img/folder.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	width: 1em;
	height: 1em;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	opacity: 1;
}

.wj-flexgrid .wj-glyph-down {

}

.wj-flexgrid .wj-glyph-right {

}

.wj-flexgrid .wj-glyph-down-right {

}

.codeViewer h1 {
	background-color: #591F62;
	color: white;
	font-size: 11pt;
	line-height: 12px;
	margin: 0;
	padding: 15px;
}

.codeViewer pre {
	border-radius: 0;
	background-color: white;
	overflow: auto;
}

#code-pre {
	margin-bottom: 0;
}

.tree-icon {
	margin-right: 0.6em;
}

/* Mobile */
@media only screen and (max-width: 999px){

	.codeViewer {
		width: auto;
		
	}

	.codeViewer-tree {
		width: 100%;
		max-height: 300px;
	}

	.codeViewer .wj-flexgrid {
		height: 300px;
	}

	.codeViewer-code {
		margin-bottom: 2em;
		width: 100%;
	}

	.codeViewer-code h1 {
		margin-top: 50px;
	}

}

/* Desktop */
@media only screen and (min-width: 1000px) {
	.codeViewer {
		width: 960px;
		height: 510px;
		white-space:nowrap;
	}

	.codeViewer-tree {
		width: 270px;
		margin-right: 20px;
		height: 450px;
		display: inline-block;
		vertical-align: top;
	}

	.codeViewer .wj-flexgrid{
		height: 450px;
	}

	.codeViewer-code {
		height: 450px;
		display: inline-block;
	}

	.codeViewer-code pre {
		min-width: 650px;
		max-width: 650px;
		overflow: auto;
		height: 450px;
	}
}

/*
	footer
*/

hr {
	display: block; height: 1px;
	border: 0; border-top: 1px solid #ccc;
	margin: 1em 0; padding: 0;
	box-shadow: 0px 1px 0px rgb(255,255,255);
}

footer.container p {
	font-size: 8pt;
	color: #888888;
	line-height: inherit;
}

footer {
	
}